<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"
      rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    {% block calendario %}{% endblock calendario %}
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <nav class="bg-slate-500">
      <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
        <a href=" {% url 'home' %} "><i class="fa fa-fw fa-home"></i>Home</a>
        {% if user.is_authenticated %}
          <a href=" {% url 'create_task' %} "> <i class="fa fa-plus" aria-hidden="true"></i>Nueva tarea</a>
          <a href=" {% url 'tasks' %} "><i class="fa fa-thumb-tack" aria-hidden="true"></i>Pendientes</a>
          <a href=" {% url 'task_completed' %} "><i class="fa fa-check" aria-hidden="true"></i>Completadas</a>
          <div class="justify-around">
          <a href="#"><i class="fa fa-fw fa-user"></i>{{ user.username }}</a>
          <a href=" {% url 'logout' %} " class="text-sm font-medium text-red-600 dark:text-red-500 hover:underline"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a>
        {% else %}
          <div class="justify-around">
          <a href=" {% url 'signup' %} "> <i class="fa fa-fw fa-user"></i>Sign up</a>
          <a href=" {% url 'signin' %} ">Sign in</a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% block content %} {% endblock content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
  </body>
</html>
