{% extends 'base.html' %}

{% block title %}Home{% endblock title %} 


{% block calendario %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      locale: 'es',
      firstDay: 1,
      events: [
        {% for i in events %}
        {
            title: "{{ i.title}}",
            start: '{{ i.start_time|date:"Y-m-d" }}',
            end: '{{ i.end_time|date:"Y-m-d" }}',
        },
        {% endfor %}
      ]
    });
    calendar.render();
  });
</script>
{% endblock calendario %}


{% block content %}
<h1>Calendario de eventos:</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem et sed fugiat
  natus, velit dolorem ipsum quas amet sint veniam iure sapiente beatae laborum
  quisquam iste quaerat, nobis est perferendis!
</p>

<div id="calendar" name="calendar"></div>
{% endblock content %}
