{% extends 'base.html' %} 
{% load i18n %}

{% block title %}Task{% endblock title %}

{% block content %}
<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Tareas pendientes:</h2>
<ul class="max-w-md space-y-1 text-gray-500 list-none dark:text-gray-400">
    {% for task in tasks %}
    <li>
        {% if task.important %}
        <a href="{% url 'task_detail' task.id %}"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>{{ task.title }}</a>
        {% else %}
        <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
        {% endif %}
        {% language 'es' %}
        <em class="font-italic">{{ task.datecompleted|date:'d M Y H:i'}}</em>
        {% endlanguage %}
    </li>
    {% endfor %}
</ul>

{% endblock content %}